fastapi
uvicorn
pydantic
python-dotenv

langgraph
langchain-core
loguru

qdrant-client

sentence-transformers==2.6.1

torch==2.2.2
--extra-index-url https://download.pytorch.org/whl/cpu

openai
groq
google-generativeai

requests
numpy
pandas