# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Secrets (VERY IMPORTANT)
credentials.json
token.json
.env

# Vector database / generated data
data/
Vector/

# IDE files
.idea/
.vscode/

# OS files
Thumbs.db
.DS_Store
